* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';

}
p {
    text-align: center;
    color: white;

}
/* Class-  */
.sectionBg {
    height: auto;
    width: 100vw;
    height: 100vh; 
    background-size: cover;
    overflow-x: hidden;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.launch-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-size: contain;
    align-items: center;
    overflow-x: hidden;
    justify-content: flex-start;
    flex-direction: column;
}
.skropayLogo {
    margin-top: 154px;
}
.launch-head {
    margin-top: 90px;
    font-size: 40px;
    width: 70vw;
}
.launch-head span {
    color: #336bf9;
    font-weight: bold;

}

.form-div {
    margin-top: 90px;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 106px;
}

.in-name {
    width: 552px;
    height: 76px;
    font-size: 30px;
    padding-left: 10px;
    border-radius: 4px;
    border: none;

}
.in-btn {
    height: 76px;
    font-size: 26px;
    width: 312px;
    background-color: #336CF9;
    border-radius: 4px;
    color: white;
    border: none;
    text-align: center;
    font-weight: bold;
    padding-left: 10px;

}
.watch {
    text-align: center;
    margin-top: 55px;
    font-size: 22px;
    text-align: center;
    line-height: 2;
}
.watch p {
    display: flex;
    justify-content: center;
    align-items: center;
}
.watch span {
    font-size: 25px;
    font-weight: bold;
}

.launchfooter {
    font-size: 30px;
    margin-top: 201px;
    padding-bottom: 20px;

}
.launchfooter span {
    font-size: 35px;
    font-style: bold;

}

@media screen and (max-width:1200px ) and (min-width:800px){

    .launch-main {
        width: 100vw;
        height: 100vh;
        display: flex;
        background-size: contain;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }
.skropayLogo {
    margin-top: 84px; 
}
.launch-head {
    margin-top: 50px;
    font-size: 33px;
    width: 70vw;
}
.launch-head span {
    color: #336bf9;
    font-weight: bold;

}

form {
    margin-top: 50px;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 106px;
}
.in-name {
    width: 552px;
    height: 76px;
    font-size: 23px;
    padding-left: 10px;
    border-radius: 4px;
    border: none;

}
.in-btn {
    height: 76px;
    font-size: 19px;
    width: 312px;
    background-color: #336CF9;
    border-radius: 4px;
    color: white;
    border: none;
    text-align: center;
    font-weight: bold;
    padding-left: 10px;

}
.watch {
    text-align: center;
    margin-top: 35px;
    font-size: 15px;
    text-align: center;
    line-height: 2;
}
.watch p {
    display: flex;
    justify-content: center;
    align-items: center;
}
.watch span {
    font-size: 18px;
    font-weight: bold;
}

.launchfooter {
    font-size: 23px;
    margin-top: 180px;
    padding-bottom: 20px;

}
.launchfooter span {
    font-size: 28px;
    font-style: bold;

}
}

@media screen and (max-width:800px ) and (min-width:500px){

    .launch-main {
        width: 100vw;
        height: 100vh; 
    }
.skropayLogo {
    margin-top: 24px;
}
.launch-head {
    margin-top: 20px;
    font-size:28px;
    width: 85vw;
}
.launch-head span {
    color: #336bf9;
    font-weight: bold;

}

form { 
    display: none;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}
.in-name {
    width: 320px;
    height: 60px;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 4px;
    border: none;

}
.in-btn {
    height: 60px;
    font-size: 16px;
    width: 150px;
    background-color: #336CF9;
    border-radius: 4px;
    color: white;
    border: none;
    text-align: center;
    font-weight: bold;
    padding-left: 0;

}
.watch {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    line-height: 2;
}
.watch p {
    display: flex;
    justify-content: center;
    align-items: center;
}
.watch span {
    font-size: 14px;
    font-weight: bold;
}

.launchfooter {
    font-size: 18px;
    margin-top: 20px;
    padding-bottom: 10px;

}
.launchfooter span {
    font-size: 18px;
    font-style: bold;

}
}
@media screen and (max-width:500px ) {

     
    .launch-main {
        width: 100vw;
        height: 100vh; 
    }
.skropayLogo {
    margin-top: 44px;
}
.launch-head {
    margin-top: 20px;
    font-size:28px;
    width: 95vw;
}
.launch-head span {
    color: #336bf9;
    font-weight: bold;

}

form {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
}
.in-name {
    width: 250px;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 4px;
    border: none;

}
.in-btn {
    height: 40px;
    font-size: 14px;
    width: 90px;
    background-color: #336CF9;
    border-radius: 4px;
    color: white;
    border: none;
    text-align: center;
    font-weight: bold;
    padding-left: 10px;

}
.watch {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    line-height: 2;
}

.watch span {
    font-size: 14px;
    font-weight: bold;
}

.launchfooter {
    font-size: 18px;
    margin-top: 90px; 

}
.launchfooter span {
    font-size: 18px; 

}
}
